* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: normal;
}

body {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 80%;
    height: 100%;
    width: 100%;
}

.btn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;
    border-radius: 2px;
    border: none;
}

.btn-primary {
    background: #1890FF;
    border: 1px solid #1890FF;
    color: #fff;
}

.btn-outline {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    color: #595959;
}

header {
    display: flex;
    align-items: center;
    min-height: 124px;
}

main {
    flex-grow: 1;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

footer {
    display: flex;
    align-items: center;
    min-height: 156px;
}


.header-box {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.footer-box {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 36px;
}

.footer-nav {
    flex-grow: 1;
}

.footer-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

.footer-nav ul li {
    color: #595959;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.logo img {
    max-width: 100px
}

